.container1 {
  position: relative;
  color: white;
}

.centered {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
}
input[type="text"]
{ border: none;
  border-radius: 20px;
}
input[type="text"]::placeholder{
  text-align: center;
}
.fa-input {
  font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
input[type="text"]
{
  background-color: #fff;
  border:none;
  outline: none;
  color: black;
}
input[type="submit"]
{ width: 50px;
  background-color: #993399;
  border:none;
  border-radius: 5px;
  outline: none;
  color: black;
}
.top-left {
  position: absolute;
  top: 30%;
  left: 55%;
  transform: translate(-50%,-50%);
}
.heading{
  font-family: 'Orbitron', serif;
}
#headmain{
  font-size: 50px;
  position: relative;
  left: 30px;
}
#headsecondary{
  position: relative;
  right: 10%;
}
#top-content{
  position: relative;
  top: 40px;
  width: 100%;
  background-color: #bbb;
  padding: 10px;
}